@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

#dx3rd-HUD {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: auto;
    font-family: 'Nanum Gothic', sans-serif;
}

.dx3-button-wrapper {
    position: relative;
    margin-bottom: 10px;
}

.dx3-button {
    width: 100px;
    height: 30px;
    background-color: #1A1A1A;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    margin: 4px 0px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Nanum Gothic', sans-serif;
}

.dx3-button:hover {
    background-color: #1A1A1A;
}

.sub-buttons {
    position: absolute;
    left: 105px;
    top: 4px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap; /* 버튼이 넘치면 줄바꿈 되도록 설정 */
    width: 520px; /* 한 행에 5개의 버튼을 포함할 수 있도록 너비 설정 */
}

.dx3-sub-button {
    width: 100px;
    height: 30px;
    background-color: #333;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 5px; /* 버튼 간 간격 추가 */
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Nanum Gothic', sans-serif;
}

.dx3-sub-button:hover {
    background-color: #444;
}
